<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/css.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/icons/slyklogo.ico')}}" type="image/x-icon">
    <title>{{error_type}}</title>
</head>
<body>
    <h1 class="error-header">{{error_type}}</h1>
    <p class="error-message">{{error_message}}</p>
   <div class="home-link"><a href="/" >Volver a la página principal</a></div>
</body>
</html>