<!DOCTYPE html>
<html lang="en">
<head>
	<title>Table V01</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{url_for('static', filename='images/icons/favicon.ico')}}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=" {{url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/animate/animate.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/perfect-scrollbar/perfect-scrollbar.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="form">
					<form action="update_apikey" method="post">
						<input type="text" name="apikey" placeholder="Put your API key here" >
						<input type="submit" value="Actualizar datos">
						
					</form>
				</div>
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">User ID</th>
								<th class="column2">Bonus</th>
								<th class="column3">Order status</th>
								<th class="column4">Order amount</th>
								<th class="column5">Payment method</th>
								<th class="column6">Asset</th>
							</tr>
						</thead>
						<tbody>
							{% for order in orders %}
							<tr>
								<td class="column1">{{order.userId}}</td>
								<td class="column2">{{order.bonus}}</td>
								<td class="column3">{{order.orderStatus}}</td>
								<td class="column4">{{order.amount}}</td>
								<td class="column5">{{order.chosenPaymentMethod}}</td>
								<td class="column6">{{order.assetCode}}</td>
							</tr>
							{% endfor %}
								
								
								
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


	

<!--===============================================================================================-->	
	<script src="{{url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='vendor/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>
</html>