<!DOCTYPE html>
<html lang="en">
<head>
	<title>Table V01</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{url_for('static', filename='images/icons/favicon.ico')}}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=" {{url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/animate/animate.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/perfect-scrollbar/perfect-scrollbar.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="form">
					<form action="/update_apikey" method="post">
						<input type="text" name="apikey" placeholder="Put your API key here" >
						<input type="submit" value="Actualizar datos">
						
					</form>
				</div>
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Usuario</th>
								<th class="column2">Teléfono</th>
								<th class="column3">Email</th>
								{% set count = namespace(value=4) %}
								{% for asset in assets.data %}
									
								<th class="column{{counter}}">Balance {{asset.assetCode}}</th>
									{% set count = count.value + 1 %}
								{% endfor %}
							</tr>
						</thead>
						<tbody>
							{% for user in user_data %}
							<tr>
								<td class="column1">{{user.user_data.data.name}}</td>
								<td class="column2">{{user.user_data.data.phone}}</td>
								<td class="column3">{{user.user_data.data.email}}</td>
								{% set count = namespace(value=4) %}
								{% for asset_balance in  user.wallet_data.data %}
									
								<th class="column{{counter}}">
									{% if user.wallet_data.data %}
										{{user.wallet_data.data}}
										{{asset_balance.amount}}
										
									{% else %}
										{{0}}
									{% endif %}</th>
									{% set count = count.value + 1 %}
	
								{% endfor %}
								
							</tr>
							{% endfor %}
								
								
								
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


	

<!--===============================================================================================-->	
	<script src="{{url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='vendor/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>
</html>